<script>
function getRef(){
var content=document.getElementById('rawcontent').value;
document.getElementById('markdown').style.display='block';
document.getElementById('markdown').innerHTML=window.marked(content);
document.getElementById('raw').style.display='none';
document.getElementById('n1').className='';
document.getElementById('n2').className='active';
}
function getRaw(){
document.getElementById('raw').style.display='block';
document.getElementById('markdown').style.display='none';
document.getElementById('n1').className='active';
document.getElementById('n2').className='';
}
</script>
<div class='rightbox'>
<form action="/new" method="post" role='form'>
<div class="form-group">
<h3><span class="label label-default fa fa-file-text-o"><label>标题</label></span></h3>
<input type="text_filed" name="title" value="" class='form-control'>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active" id='n1'><a href=javascript:getRaw()>原文</a></li>
  <li id='n2'><a href=javascript:getRef()>预览</a></li>
</ul>
<div class="form-group" id="raw">
<h3><span class="label label-default fa fa-file-text-o"><label> 内容</label></span></h3>
<textarea name="content" id="rawcontent" value="input your content" rows='10' class="form-control"></textarea>
</div>
<div id="markdown"></div>
<h3><span class="label label-default fa fa-tag"><label>自定义标签</label></span></h3>
<input type="text_filed" name="tags" value="" class='form-control'>
<p><button type="submit" name="submit" class='btn btn-primary'>提交</button></p>
</form>
</div>
