<div class="container">
<div class="col-sm-6 div3">

	<h1><span class="fa fa-sign-in"></span> 注册</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">注册</button>
	</form>

	<hr>

	<p>已经有账号? <a href="/login">登录</a></p>
	或者使用以下账号登录
	<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
	<a href="/auth/weibo" class="btn btn-danger"><span class="fa fa-weibo"></span> Weibo</a>
	<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
	<p>返回 <a href="/">首页</a>.</p>
</div>
</div>
